/*
  ========================================
  Custom styles
  ========================================
*/

#calc-body {
    text-align: center;
    border: 5px solid black;
    border-radius: 15px;
    height: 655px;
    width: 380px;
}

#display {
    display: inline-grid;
    border: 1px solid black;
    height: 25%;
    width: 85%;
    margin: 100px auto 20px auto;
}

#text-container {
    display: inline-grid;
    align-self: end;
    justify-self: end;
    height: 30%;
}

#text {
    font-family: monospace;
    font-size: 45px;

}

#grid-container {
    display: inline-grid;
    width: 85%;
    height: 300px;
    grid-template-areas: 'main    main    main    main'
                         'main    main    main    main'
                         'main    main    main    main'
                         'main    main    main    plus'
                         'main    main    main    plus';
}

#grid-container > #main {
    grid-area: main;
    display: inline-grid;
    grid: repeat(5, 2fr) / repeat(4, 2fr);
    gap: 20px 20px;


}

#main > #plus {
    background-color: cyan;
}