/*
  ========================================
  Custom styles
  ========================================
*/

#calc-body {
    text-align: center;
    border: 5px solid black;
    border-radius: 15px;
    height: 655px;
    width: 380px;
}

#display {
    display: inline-grid;
    border: 1px solid black;
    height: 25%;
    width: 85%;
    margin: 100px auto 20px auto;
}

#text-container {
    display: inline-grid;
    align-self: end;
    justify-self: end;
    height: 30%;
}

#text {
    font-family: monospace;
    font-size: 45px;

}

#grid-container {
    display: inline-grid;
    width: 85%;
    height: 300px;
    grid-template-areas: 'top-row top-row top-row ops'
                         'main    main    main    ops'
                         'main    main    main    ops'
                         'main    main    main    ops'
                         'main    main    main    ops'
                         'main    main    main    .';
    grid-template-rows: repeat(5, 2fr);
    grid-template-columns: repeat(4, 2fr);
    gap: 20px 20px;
}

#grid-container > #top-row {
    grid-area: top-row;
    display: inline-grid;
    grid: repeat(1, 2fr) / repeat(3, 2fr);
    gap: 20px 20px;
}

#grid-container > #ops {
    grid-area: ops;
    display: inline-grid;
    grid: repeat(4, 2fr) / repeat(1, 2fr);
    gap: 20px 20px;
}

#grid-container > #main {
    grid-area: main;
    display: inline-grid;
    grid: repeat(4, 2fr) / repeat(3, 2fr);
    gap: 20px 20px;

}