/*
  ========================================
  Custom styles
  ========================================
*/

#calc-body {
    text-align: center;
    border: 5px solid black;
    border-radius: 15px;
    height: 655px;
    width: 380px;
}

#display {
    display: block;
    border: 1px solid black;
    height: 25%;
    width: 80%;
    margin: 100px auto 20px auto;
}

#text {
    font-family: monospace;
    font-size: 45px;
}

#grid-container {
    display: inline-grid;
    justify-items: center;
    grid: repeat(5, 2fr) / repeat(4, 2fr);
    gap: 20px 20px;
}